---
import Icon from '@components/ui/icons/Icon.astro'
// Define props from Astro
const { id, collapseId, question, answer, first = false } = Astro.props
// Define TypeScript interface for props
interface Props {
  id: string
  collapseId: string
  question: string
  answer: string
  first?: boolean
}
---

<!-- The main container for the accordion item -->
<div class:list={['hs-accordion', first ? 'active pb-3' : 'pb-3 pt-6']} id={id}>
  <!-- The accordion button, which toggles the expanded/collapsed state -->
  <button
    class="hs-accordion-toggle group inline-flex w-full items-center justify-between gap-x-3 text-balance rounded-lg pb-3 text-start font-bold text-neutral-800 outline-none ring-zinc-500 transition hover:text-neutral-500 focus-visible:ring dark:text-neutral-200 dark:ring-zinc-200 dark:hover:text-neutral-400 dark:focus:outline-none md:text-lg"
    aria-controls={collapseId}
  >
    {question}
    <!-- SVG Icon that is shown when the accordion is NOT active -->
    <Icon name="accordionNotActive" />

    <!-- SVG Icon that is shown when the accordion is active -->
    <Icon name="accordionActive" />
  </button>
  <!-- The collapsible content of the accordion -->
  <div
    aria-labelledby={id}
    class:list={[
      'hs-accordion-content w-full overflow-hidden transition-[height] duration-300',
      !first && 'hidden',
    ]}
    id={collapseId}
  >
    <!-- The content paragraph -->
    <p class="text-pretty text-neutral-600 dark:text-neutral-400">
      {answer}
    </p>
  </div>
</div>
