---
interface Props {
	id: string
	name: string
	errorId: string
	label?: string
	placeholder?: string
	autocomplete?: string
	required?: boolean
}

const {
	id,
	name,
	errorId,
	label = 'Email',
	placeholder = 'Enter your email',
	autocomplete = 'username',
	required = false,
} = Astro.props
---

<div>
	<label
		for={id}
		class="mb-2 block text-neutral-800 dark:text-neutral-200"
	>
		{label}
	</label>
	<div class="relative">
		<input
			type="email"
			id={id}
			name={name}
			class="block w-full rounded-lg border border-neutral-200 px-4 py-3 focus:border-magenta focus:ring-magenta dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400"
			placeholder={placeholder}
			required={required}
			aria-describedby={errorId}
			autocomplete={autocomplete}
		/>
		<div id={errorId} class="mt-2 hidden text-red" role="alert">
		</div>
	</div>
</div>
