---
const { label, id, name } = Astro.props;

interface Props {
  label: string;
  name: string;
  id: string;
}
---

<div>
  <label for={id} class="sr-only">{label}</label>
  <input
    type="text"
    name={name}
    id={id}
    class="block w-full rounded-lg border border-neutral-200 bg-neutral-50 px-4 py-3 text-neutral-700 placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring focus:ring-neutral-300 disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-200 dark:placeholder:text-neutral-500 dark:focus:border-neutral-600 dark:focus:ring-1 dark:focus:ring-neutral-700"
    placeholder={label}
  />
</div>
