---
// Import the necessary dependencies
import FooterSocialLink from '@/components/ui/links/FooterSocialLink.astro'
import EmailFooterInput from '@/components/ui/forms/input/EmailFooterInput.astro'
import Icon from '@/components/ui/icons/Icon.astro'
import TextLogo from '@/components/ui/TextLogo.astro'
import { SITE } from '@/constants'
import { getLangFromUrl, useTranslations } from '@/utils/i18n'

interface FooterLink {
	name: string
	url: string
}

interface FooterSection {
	section: string
	links: FooterLink[]
}

// Select the correct translation based on the page's lang prop:
const lang = getLangFromUrl(Astro.url)
const t = await useTranslations(lang, 'navigation')
---

<footer class="w-full dark:bg-neutral-900">
	<div
		class="mx-auto w-full max-w-[85rem] px-3 py-8 sm:px-6 sm:py-10 lg:px-16 lg:pt-20 2xl:max-w-screen-2xl"
	>
		<div class="grid grid-cols-2 gap-4 sm:gap-6 md:grid-cols-4 lg:grid-cols-5">
			<div class="col-span-full lg:col-span-1">
				<!-- Brand Logo -->
				<TextLogo class="w-32" />
			</div>
			<!-- An array of links for Product and Company sections -->
			{
				t.footerLinks.map((section: FooterSection) => (
					<div class="col-span-1">
						<h3>
							{section.section}
						</h3>
						<ul class="mt-2 grid space-y-2 sm:mt-3 sm:space-y-3">
							{section.links.map((link: FooterLink, index: number) => (
								<li>
									<a
										href={link.url}
										class="inline-flex gap-x-2 rounded-lg text-neutral-600 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-500 focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-none"
									>
										{link.name}
									</a>
									{section.section === 'Company' && index === 1 ? (
										<span class="ms-1 inline rounded-lg bg-magenta px-2 py-1 text-xs font-bold text-neutral-50">
											NEW
										</span>
									) : null}
								</li>
							))}
						</ul>
					</div>
				))
			}

			<div class="col-span-2">
				<h3>
					{t.footer.newsletter.title}
				</h3>

				<form>
					<EmailFooterInput />
					<p class="mt-2 text-neutral-600 dark:text-neutral-400 sm:mt-3">
						{t.footer.newsletter.content}
					</p>
				</form>
			</div>
		</div>

		<div
			class="mt-6 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
		>
			<div class="flex items-center justify-between">
				<p class="text-neutral-600 dark:text-neutral-400">
					© <span id="current-year"></span>
					{SITE.title}. {t.footer.crafted}
					<a
						class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
						href="https://www.winflowz.com/"
						target="_blank"
						rel="noopener noreferrer"
					>
						WinFlowz
					</a>.
				</p>
			</div>

			<!-- Social Brands -->
			<div>
				<FooterSocialLink url={t.socialLinks.facebook}
					><Icon name="facebookFooter" />
				</FooterSocialLink>

				<FooterSocialLink url={t.socialLinks.x}
					><Icon name="xFooter" /></FooterSocialLink
				>
			</div>
		</div>

		<script>
			const year = new Date().getFullYear()
			const element = document.getElementById('current-year')
			element!.innerText = year.toString()
		</script>
	</div>
</footer>
